/* Style Settings */



:root {
    --bgColor: #39cc68;
    --accentColor: #E6E6E6;
    --font: 'Karla', sans-serif;
}

body {
    background-color: var(--bgColor);
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#userPhoto {
    width: 110px;
    height: 110px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName {
    color: #39cc68;
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#bio {
    color: #39cc68;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    display: block;
    font-weight: 600;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
}

li:hover .link{
    background-color: var(--bgColor);
    color: var(--accentColor);
    
}

li:hover .fab{
    background-color: var(--bgColor);
    color: var(--accentColor);
    
}

li:hover .fas{
    background-color: var(--bgColor);
    color: var(--accentColor);
    
}

li:hover .far{
    background-color: var(--bgColor);
    color: var(--accentColor);
    
}

.fab {
    position: relative;
    /* Adjust these values accordingly */
    top: 3px;
    left: -230px;
    color: var(--bgColor);
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    font-size: 1.2rem;

}

.fas {
    position: relative;
    /* Adjust these values accordingly */
    top: 3px;
    left: -225px;
    color: var(--bgColor);
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    font-size: 1.2rem;

}

.far {
    position: relative;
    /* Adjust these values accordingly */
    top: 3px;
    left: -249px;
    color: var(--bgColor);
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    font-size: 1.2rem;
}
